<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clinicplatform.mapper.DoctorMapper">


	<!--登录页面-->
	<select id="checkLogin" parameterType="String" resultType="Doctor">
	select * from doctor  where doctor_name=#{username} and doctor_password=#{pwd}
	</select>

</mapper>
