<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clinicplatform.mapper.UserMapper">
	<select id="fetchAdministrators" parameterType="String" resultType="clinicplatform.entity.User">
		SELECT * FROM `user` u
		INNER JOIN UserRole ur ON u.user_id = ur.`u_id`
		INNER JOIN role r ON ur.`r_id` = r.`role_id` where r.`role_name` = '管理员' 
			<if test="name!=null and !name.isEmpty()">
				 AND (u.user_name="#{name}" or u.user_phone="#{name}")
			</if>
	</select>
</mapper>